.create-notes-heading{
    margin: 20px;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}

.create-notes-form{
    width: max-content;
    margin: 0 auto;
}

.create-notes-form-textarea{
    height: 300px;
    width: 500px;
    font-size: 20px;

}

.create-notes-form-textbox{
    width: 500px;
    font-size: 20px;

}

.create-notes-form-button-wrap{
    text-align: center;
    margin-top: 20px;
}

.create-notes-form-button{
    padding: 10px;
    font-size: 20px;
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.create-notes-form-button:hover{
    background-color: #004299;
}

.create-notes-form-button:active{
    transform: scale(0.9);
}
